# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
pip-wheel-metadata/
.tox/
.ipynb_checkpoints/

# Editors/IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Docker
.dockerignore

# Misc
data/
backups/
node_modules/